<p id="notice"><%= notice %></p>

<p>
  <b>Entry:</b>
  <%= @newsletter.entry %>
</p>

<p>
  <b>Authored by:</b>
  <%= @newsletter.authored_by %>
</p>


<%= link_to 'Edit', edit_newsletter_path(@newsletter) %> |
<%= link_to 'Back', newsletters_path %>
