<head>
<%= stylesheet_link_tag 'custom/footer', :media => :screen %>
</head>

<div class="span-24 last" id="footer-wrapper">
<div class="prepend-1 span-1" id="facebook-links">
<%= link_to image_tag('facebook_32.png'), 'http://www.facebook.com/pages/TUFC-Venom/86854084508', :target => '_blank',:align => 'center' %>
<%= @verified.inspect %>
</div>
<% if signed_in? %>
<div class="span-4">
<h1> You are signed in! </h1>
</div>
<% end %>
<div class="prepend-14 span-3 apprend-1 last" id="site-links">
<%= link_to 'Sitemap', root_path %>
<%= link_to 'Sign In', '/signin' %>
</div>
</div>

