<head>
<%= stylesheet_link_tag 'custom/footer', :media => :screen %>
</head>

<div class="span-24 last" id="footer-wrapper">
<div class="prepend-1 span-8 column" id="facebook-links">
<%= link_to image_tag('facebook_32.png'), 'http://www.facebook.com/pages/TUFC-Venom/86854084508', :target => '_blank',:align => 'center' %>
<br /> ©<%= Time.now.year %>, by <%= link_to 'Taylor Perkins', 'http://hwrdprkns.com', :target => '_blank' %>
</div>


<% if signed_in? %>
<div class="prepend-5 span-9 apprend-1 last column" id="site-links">
<%= link_to 'Sitemap', root_path %>
<%= link_to 'Create Player', new_player_path %>
<%= link_to 'Create Game', new_game_path %>
<%= link_to 'Create Newsletter', new_newsletter_path %>
<%= link_to 'Sign Out', '/signout' %>
</div>
<% else %>
<div class="prepend-11 span-3 append-1 last column" id="site-links">
<%= link_to 'Sitemap', '/sitemap1.xml.gz' %>
<%= link_to 'Sign In', '/signin' %>
</div>
<% end %>
</div>

