<head>
<%= stylesheet_link_tag 'custom/header', :media => :screen %>
</head>

<div class="span-24 last" id="header-wrapper">
<div id="logo" class="span-6 prepend-1">
<h1><%= link_to 'LOGO HERE', root_path %></h1>
</div>
<div class="span-16 last" id="nav-links">
<h2 class="span-3 append-1"><%= link_to 'ROSTERS', players_path %></h2>
<h2 class="span-3"><%= link_to 'ABOUT', '/about' %></h2>
<h2 class="span-3"><%= link_to 'NEWS', newsletters_path %></h2>
<h2 class="span-3"><%= link_to 'GAMES', games_path %></h2>
<h2 class="span-3 last"><%= link_to 'CONTACT', '/contact' %></h2>
</div>
</div>

