<head>
<%= stylesheet_link_tag 'custom/home' , :media => 'screen' %>
<%= javascript_include_tag 'slides.min.jquery.js' %>
<script src="http://gsgd.co.uk/sandbox/jquery/easing/jquery.easing.1.3.js"></script>
<script>
  $(function(){
    $("#slides").slides({
    play: 5000,
    preload: false,
    hoverPause: true,
    pagination: false,
    generatePagination: false
    });
  });
</script>
</head>

<div class="span-24 last" id="picture-container">
  <div id="slides">
    <div class="slides_container">
      <% @pictures.size.times do |index| %>
        <%= image_tag(@pictures[index].url(:expires_in => 60*60*3), :size =>'950x410') %>
      <% end %>
    </div>
  </div>
</div>

<hr class="space" />


<div class="prepend-1 span-5 append-1" id="song-container">
   <p id="song-header">TUFC Anthem</p>
    <p class="quiet">
      Guts and glory don't dispare,<br />
      Kick the ball up in the air,<br />
      On the pitch or in the pub,<br />
      Who are we?<br />
      Tufts CLUB CLUB CLUB!!!
    </p>
</div>


<div class="prepend-1 span-6 append-1" id="subscriber-container">
  <p><b> Sign up to receive new TUFC newsletters!</b> </p>
  <% form_for(:subscriber, :url => subscribers_path) do |f| %>
    <%= render 'shared/error_messages', :object => @subscriber %>
    <%= f.email_field :email , :class=>'jq_watermark', :title => 'Enter your e-mail here to subscribe' %>
    <%= f.submit 'Subscribe' %>
  <% end %>
</div>

<div class="prepend-1 span-7 append-1 last" id="recent-games-container">
  <p><b>Recent Games</b></p>
  <table>
    <tr>
      <td>Date</td>
      <td>Against</td>
      <td>Score</td>
      <td>Result</td>
    </tr>
    <% @recent_games.each do |game| %>
      <tr>
        <td><%= game.date.strftime('%b %d,%Y') %></td>
        <td><%= game.against %></td>
        <td><%= game.tufc_goals %> - <%= game.against_goals %></td>
        <td><%= win_or_loss(game) %></td>
      </tr>
   <% end %>
  </table>
</div>

