<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :against %><br />
    <%= f.text_field :against %>
  </div>
  <div class="field">
    <%= f.label :tufc_goals %><br />
    <%= f.text_field :tufc_goals %>
  </div>
  <div class="field">
    <%= f.label :against_goals %><br />
    <%= f.text_field :against_goals %>
  </div>
  <div class="field">
    <%= f.label :home %><br />
    <%= f.check_box :home %>
  </div>
  <div class="field">
    <%= f.label :league_game %><br />
    <%= f.check_box :league_game %>
  </div>
  <div class="field">
    <%= f.label :playoff_game %><br />
    <%= f.check_box :playoff_game %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
