<% if signed_in? %>
<td><%= link_to 'Edit', edit_game_path(game) %>&#x9;|&#x9;<%= link_to 'Delete', game_path(game), :method => :delete %></td>
<% end %>
<td><%= game.date.strftime('%b %d,%Y') %></td>
<td><%= game.against %></td>
<td><%= game.tufc_goals %></td>
<td><%= game.against_goals %></td>
<td><%= normalize(game.league_game) %></td>
<td><%= win_or_loss(game) %></td>

