<h1>Listing games</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Against</th>
    <th>Tufc goals</th>
    <th>Against goals</th>
    <th>Home</th>
    <th>League game</th>
    <th>Playoff game</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= game.date %></td>
    <td><%= game.against %></td>
    <td><%= game.tufc_goals %></td>
    <td><%= game.against_goals %></td>
    <td><%= game.home %></td>
    <td><%= game.league_game %></td>
    <td><%= game.playoff_game %></td>
    <td><%= link_to 'Show', game %></td>
    <td><%= link_to 'Edit', edit_game_path(game) %></td>
    <td><%= link_to 'Destroy', game, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Game', new_game_path %>
