<div id="form-inputs" class="prepend-6 span-12 append-6 last">
<% form_for @game do |f| %>
 <%= render 'shared/error_messages', :object => @game %>
 Game Date: <%= select_datetime(Time.current,:order=>[:year,:month,:day]) %><br />
 Against: <%= f.text_field :against, :title => "Against",:class =>'jq_watermark' %><br />
 TUFC Goals: <%= f.number_field :tufc_goals,:value => '1', :title => "TUFC Goals",:class =>'jq_watermark' %><br />
 Against Goals: <%= f.number_field :against_goals,:value =>'0', :title => "Against Goals",:class =>'jq_watermark' %><br />
 Home Game? <%= f.check_box :home, :label => 'Home' %><br />
 League Game? <%= f.check_box :league_game, :title => "Against",:class =>'jq_watermark' %><br />
 Playoff Game? <%= f.check_box :playoff_game, :title => "Against",:class =>'jq_watermark' %><br />
 <hr class="space" />
 <%= f.submit 'Create Game' %>
<% end %>
</div>

