<h1>Player View </h1>
<hr class="space" />
<div id="header-info" class="prepend-1 span-12 append-1 last">
<span class="loud large"><%= header_name @player %></span>
<hr class="space" />
<span class="loud">Hometown:
<%= hometown @player %>
</span>
<hr class="space" />
<span class="quiet">Notes:
<%= hometown @player %>
</span>
</div>

<div id="player-info" class="prepend-1 span-8 append-1 last">
<%= preffered_position @player %><hr class="space"  />
<%= rating @player %><hr class="space" />
<%= first_team @player %><hr class="space" />
</div>

<hr class="space" />

<h1>Stats for <%= @player.first_name + ' ' + @player.last_name %></h1>

<div class="prepend-2 span-20 append-2 last" id="stat-container">

<% if @player.stats.empty? %>
<h2> There are no stats to show for this player yet.</h2>
<% else %>
<% @player.stats.each do |stat| %>
<%= render stat %>
<% end %>
<% end %>
</div>

<hr class="space" />
<%= link_to '(Create New Stat)', new_player_stat_path(@player) %>

