<p id="notice"><%= notice %></p>

<p>
  <b>First team:</b>
  <%= @player.first_team %>
</p>

<p>
  <b>Preffered position:</b>
  <%= @player.preffered_position %>
</p>

<p>
  <b>Rating:</b>
  <%= @player.rating %>
</p>

<p>
  <b>Hometown:</b>
  <%= @player.hometown %>
</p>

<p>
  <b>Notes:</b>
  <%= @player.notes %>
</p>

<p>
  <b>First name:</b>
  <%= @player.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @player.last_name %>
</p>

<p>
  <b>Year:</b>
  <%= @player.year %>
</p>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
