<%= form_for(@stat) do |f| %>
  <% if @stat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stat.errors.count, "error") %> prohibited this stat from being saved:</h2>

      <ul>
      <% @stat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :player_id %><br />
    <%= f.text_field :player_id %>
  </div>
  <div class="field">
    <%= f.label :season %><br />
    <%= f.text_field :season %>
  </div>
  <div class="field">
    <%= f.label :year %><br />
    <%= f.text_field :year %>
  </div>
  <div class="field">
    <%= f.label :goals %><br />
    <%= f.text_field :goals %>
  </div>
  <div class="field">
    <%= f.label :assists %><br />
    <%= f.text_field :assists %>
  </div>
  <div class="field">
    <%= f.label :yellow_cards %><br />
    <%= f.text_field :yellow_cards %>
  </div>
  <div class="field">
    <%= f.label :red_cards %><br />
    <%= f.text_field :red_cards %>
  </div>
  <div class="field">
    <%= f.label :games_played %><br />
    <%= f.text_field :games_played %>
  </div>
  <div class="field">
    <%= f.label :eboard_position %><br />
    <%= f.text_field :eboard_position %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
