<h1>Listing stats</h1>

<table>
  <tr>
    <th>Player</th>
    <th>Season</th>
    <th>Year</th>
    <th>Goals</th>
    <th>Assists</th>
    <th>Yellow cards</th>
    <th>Red cards</th>
    <th>Games played</th>
    <th>Eboard position</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stats.each do |stat| %>
  <tr>
    <td><%= stat.player_id %></td>
    <td><%= stat.season %></td>
    <td><%= stat.year %></td>
    <td><%= stat.goals %></td>
    <td><%= stat.assists %></td>
    <td><%= stat.yellow_cards %></td>
    <td><%= stat.red_cards %></td>
    <td><%= stat.games_played %></td>
    <td><%= stat.eboard_position %></td>
    <td><%= link_to 'Show', stat %></td>
    <td><%= link_to 'Edit', edit_stat_path(stat) %></td>
    <td><%= link_to 'Destroy', stat, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stat', new_stat_path %>
