<p id="notice"><%= notice %></p>

<p>
  <b>Player:</b>
  <%= @stat.player_id %>
</p>

<p>
  <b>Season:</b>
  <%= @stat.season %>
</p>

<p>
  <b>Year:</b>
  <%= @stat.year %>
</p>

<p>
  <b>Goals:</b>
  <%= @stat.goals %>
</p>

<p>
  <b>Assists:</b>
  <%= @stat.assists %>
</p>

<p>
  <b>Yellow cards:</b>
  <%= @stat.yellow_cards %>
</p>

<p>
  <b>Red cards:</b>
  <%= @stat.red_cards %>
</p>

<p>
  <b>Games played:</b>
  <%= @stat.games_played %>
</p>

<p>
  <b>Eboard position:</b>
  <%= @stat.eboard_position %>
</p>


<%= link_to 'Edit', edit_stat_path(@stat) %> |
<%= link_to 'Back', stats_path %>
