<!DOCTYPE html>
<html>
<head>
        <title><%= @title %></title>
        <%= csrf_meta_tag %>
        <%= render 'shared/stylesheets' %>
        <%= render 'shared/javascripts', :cache => true %>
        <%= yield(:head) %>
</head>
<body>
<div class="container showgrid" id="container">
<%= render 'shared/header' %>
<hr class="space" />
<%= yield %>
<hr class="space" />
<%= render 'shared/footer' %>
<hr class="space" />
<%= debug(params) if Rails.env.development? %>
</div>
</body>
</html>

